// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$main-green: #4AB1BA;
$signup-color: #0077FF;
$login_color: #00DD66;
$logout_color: #FF4444;
$new_art_color: #e61e6e;
