<% unless painting.photo.attached? == false %>
  <%= cl_image_tag painting.photo.key, height: 200, width: 550, crop: :fill, class: "card-image" %>
<% else %>
  <img class="card-image" src="https://p5.focus.de/img/fotos/crop3263390/0685332128-w1200-h627-q75-p5/Ausstellungen-Das-Bild-Der-Schrei-von-Edvard-Munch.jpg" />
<% end %>

<div class="card-trip-infos">
    <div>
      <% @owner = User.find(painting.user_id) %>
      <h2>"<%= painting.title %>" by <%= painting.artist %></h2>
      <p><%= "Belongs to: #{@owner.first_name} #{@owner.last_name} || #{painting.price_per_day}€ per Day" %></p>
    </div>
</div>

