<div class="search-container">
  <%= simple_form_for :search, url: paintings_path, method: :get do |f| %>
    <div class="search-form-control form-group">
      <input class="form-control string required" type="text" name="query" id="search_query" placeholder="Search your next painting..." />
      <button name="button" type="submit" class="btn btn-flat">
        <i class="fas fa-search"></i> Search
      </button>
    </div>
  <% end %>
</div>

<div class="index-view">

  <div class="index-images">
    <% @paintings.each do |painting| %>
      <%= link_to (render 'shared/painting-card', painting: painting), painting_path(painting), :style=>'color: black; text-decoration: none' %>
    <% end %>
  </div>

  <div class="index-map">
    <div
      id="map"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>
  </div>

</div>
