<div class="show_info">
  <p>Your Booking was successful</p>
  <p>The price :<%= @painting.price_per_day %></p>
  <p>Your booking is from <%=@booking.start_date  %>@booking.end_date <%=  %> </p>

</div>
