<div class="footer mt-5 justify-content-center border-top">
  <div class="footer-links">
    <a href="#" style="font-size: 30px;"><i class="fab fa-github px-2"></i></a>
    <a href="#" style="font-size: 30px;"><i class="fab fa-instagram px-2"></i></a>
    <a href="#" style="font-size: 30px;"><i class="fab fa-facebook px-2"></i></a>
    <a href="#" style="font-size: 30px;"><i class="fab fa-twitter px-2"></i></a>
    <a href="#" style="font-size: 30px;"><i class="fab fa-linkedin px-2"></i></a>
  </div>
</div>
