<div class="d-flex justify-content-center">
<h2><strong>Welcome <%= @user.fullname %></strong></h2>
</div>

<div class="full-card">
  <div class="card-trip">
    <img src="" />
    <div class="card-trip-infos">
      <div>
        <h4>Title of Painting</h4>
        <h5>Artist Name</h5>
      </div>
      <h2 class="card-trip-pricing">Price in € per Day</h2>
      <img src="https://www.welt.de/img/kultur/kunst-und-architektur/mobile118037068/8842504347-ci102l-w1024/Rembrandt-Selbstbildnis-mit-roter-Muetze.jpg" class="card-trip-user avatar-bordered" />
    </div>
  </div>

  <% @user.paintings.each do |painting| %>
    <%= link_to (render 'dashboard-painting-card', painting: painting), painting_path(painting), :style=>'color: black; text-decoration: none' %>
  <% end %>
</div>





