<div class="banner" style="background-image: url(https://res.cloudinary.com/drn3ew5dc/image/upload/v1582550561/1280px-Van_Gogh_-_Starry_Night_-_Google_Art_Project_diplwj.jpg);">
  <div class="container-header">
    <h1>Rent-a-Rembradt</h1>
    <p class="">Experience Art Masterpieces at Home</p>
    <a href="#" class="btn-main">Rent now</a>
  </div>
</div>

<div class="container">
  <h2>Rent an artwork in 3 steps</h2>
  <div class="cards">
    <div class="card-1">
      <%= image_tag "undraw_healthy_options_sdo3.svg" %>
      <h3>Find</h3>
      <p>Browse our art gallery</p>
    </div>
    <div class="card-2">
      <%= image_tag "undraw_healthy_options_sdo3.svg" %>
      <h3>Contact</h3>
      <p>Get in touch with owner and plan pick up</p>
    </div>
    <div class="card-3">
      <%= image_tag "undraw_healthy_options_sdo3.svg" %>
      <h3>Rent</h3>
      <p>Enjoy painting for agreed timeframe</p>
    </div>
  </div>
</div>
