<h1>Pages#home</h1>

<div class="banner" style="background-image: url(https://res.cloudinary.com/drn3ew5dc/image/upload/v1582550561/1280px-Van_Gogh_-_Starry_Night_-_Google_Art_Project_diplwj.jpg);">
  <div class="container-header">
    <h1>Rent-a-Rembradt</h1>
    <p class="">Experience Art Masterpieces at Home</p>
    <a href="#" class="btn-main">Rent now</a>
  </div>
</div>

  <div class="container">
      <h2>Rent an artwork in 3 steps</h2>
      <div class="cards">
        <div class="card-1">
          <img src="images/undraw_healthy_options_sdo3.svg">
          <h3>1</h3>
          <p>...</p>
        </div>
        <div class="card-2">
          <img src="images/undraw_healthy_options_sdo3.svg">
          <h3>2</h3>
          <p>...</p>
        </div>
        <div class="card-3">
          <img src="images/undraw_healthy_options_sdo3.svg">
          <h3>3</h3>
          <p>...</p>
        </div>
      </div>
    </div>
