.giphy {
  background-image: url("https://steamuserimages-a.akamaihd.net/ugc/950722873600071557/59D2DB7C1EA8E132D4B55AF6AF2485DE0BD511B8/");
  background-repeat: no-repeat;
  min-width: 100%;
  min-height: 100%;
  height: auto;
  width: auto;
  position: absolute;
  z-index: 0;
  background-size: cover;
  object-fit: cover;
  color: white;
  overflow: hidden;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.6);
}

