.block-scrolling {
  height: 100%;
  overflow: hidden;
}

.booking-show {
    width: 60vw;
    height: 40vw;
    margin: 2em auto;
    background: white;
    border-radius: 8px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    overflow: hidden;

    .success-banner {
      width: 100%;
      padding: .5em;
      background: $login_color;
      color: white;
      text-align: center;
      position: relative;
      letter-spacing: .1em;

      #close-icon {
        position: absolute;
        top: .2em;
        right: .5em;
        font-size: 3em;
        cursor: pointer;
      }
    }

    .booking-info h2, .booking-info h3, .booking-info h4, .booking-info h5 {
      text-align: center;
      padding: 10px;
      letter-spacing: .2em;
    }
}
