.btn-main {
  color: white;
  border: 1px solid white;
  padding: 16px 35px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 1;
  margin-top: 10px;
  transition: background-color .3s ease;
  transition: text-shadow .3s ease;
  transition: border .3s ease;
}

.btn-main:hover {
  text-decoration: none;
  color: white;
  border: 1px solid rgba(0, 0, 0, 1);
  background-color: $new_art_color;
  border: 1px solid $new_art_color;
  text-shadow: none;
}

.btn-main-customizable {
  background-color: $new_art_color;
  color: white;
  padding: 8px 30px;
  border-radius: 50px;
  font-weight: lighter;
  margin-right: 5px;
}

.btn-main-customizable:hover {
  text-decoration: none;
  background-color: white;
  color: rgb(80, 177, 186);
  border: 1px solid $new_art_color;
  text-shadow: none;
}

.btn-square {
  border-radius: 6px !important;
}

.signup-button {
  background-color: $signup-color;
  color: white;
  border-radius: 50px;
  font-weight: lighter;
  padding: 8px 30px;
}

.signup-button:hover {
  text-decoration: none;
  background-color: white;
  color: $signup-color;
  border: 1px solid $signup-color;
  text-shadow: none;
}

.login-button {
  background-color: $login-color;
  color: white;
  border-radius: 50px;
  font-weight: lighter;
  padding: 8px 30px;
  margin: 10px;
}

.login-button:hover {
  text-decoration: none;
  background-color: white;
  color: $login-color;
  border: 1px solid $login-color;
  text-shadow: none;
}

.logout-button {
  background: $logout-color;
  color: white;
  border-radius: 50px;
  font-weight: lighter;
  padding: 8px 30px;
  margin: 10px;
}

.logout-button:hover {
  text-decoration: none;
  background-color: white;
  color: $logout-color;
  border: 1px solid $logout-color;
  text-shadow: none;
}

.btn-edit {
  color: white;
  border: 1px solid white;
  padding: 16px 35px;
  border-radius: 50px;
  font-weight: lighter;
  transition: opacity .5s ease;
  transition: color .5s ease;

  &:hover {
    text-decoration: none;
    color: black;
    border: 1px solid rgba(0, 0, 0, 1);
    background-color: white;
    text-shadow: none;
  }
}

.btn-center {

}

.btn-hidden {
  opacity: 0;
}
