.btn-main {
  color: white;
  border: 1px solid white;
  padding: 16px 35px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 1;
  margin-top: 10px;
}

.btn-main:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
  border: 1px solid rgba(0, 0, 0, 1);
  background-color: white;
  text-shadow: none;
}

.btn-main-customizable {
  background-color: #A9A9A9;
  color: white;
  border: 1px solid white;
  padding: 8px 30px;
  border-radius: 50px;
  font-weight: lighter;
}

.btn-main-customizable:hover {
  text-decoration: none;
  background-color: white;
  color: #A9A9A9;
  border: 1px solid #A9A9A9;
  text-shadow: none;
}

.signup-button {
  background-color: $signup-color;
  color: white;
  border-radius: 50px;
  font-weight: lighter;
  padding: 8px 30px;
  border: 1px solid white;
}

.signup-button:hover {
  text-decoration: none;
  background-color: white;
  color: $signup-color;
  border: 1px solid $signup-color;
  text-shadow: none;
}

.login-button {
  background-color: $login-color;
  color: white;
  border-radius: 50px;
  font-weight: lighter;
  padding: 8px 30px;
  margin: 10px;
  border: 1px solid white;
}

.login-button:hover {
  text-decoration: none;
  background-color: white;
  color: $login-color;
  border: 1px solid $login-color;
  text-shadow: none;
}

.logout-button {
  background: $logout-color;
  color: white;
  border-radius: 50px;
  font-weight: lighter;
  padding: 8px 30px;
  margin: 10px;
  border: 1px solid white;
}

.logout-button:hover {
  text-decoration: none;
  background-color: white;
  color: $logout-color;
  border: 1px solid $logout-color;
  text-shadow: none;
}
