.dashboard-header {
  margin: 2em;
}

.sticky-top {
  position: sticky;
  top: -2.7em;
  z-index: 1;
}

.dashboard-tabs {
  display: flex;
  justify-content: space-around;
  background-color: #CCC;
  border-radius: 10px;
  padding: 1px;
  margin: 0 1em 2em 1em;

  h5 {
    text-align: center;
    margin: 0;
    border-radius: 10px;
    padding: 4px;
    cursor: pointer;
    transition: background-color .5s ease;
  }

  .active-tab {
    background-color: white;
    cursor: default;
  }
}

.hide-content {
  display: none;
}

.dashboard-confirm, .dashboard-upcoming {
  padding: 1em;

  .booking-list {

    .booking {
      display: flex;
      background-color: white;
      border: 1px #CCC solid;
      margin-bottom: 10px;
      height: 195px;

      > img {
        margin: 4px 10px 4px 4px;
        width: auto;
        height: 95%;
      }

      .booking-info {
        flex-grow: 1;

        .booking-actions {
          display: flex;
          justify-content: space-around;
          width: 50%;
        }
      }

      .user-info {
        flex-grow: 1;
      }
    }
  }
}

.dashboard-upcoming {

}
