.show-view {
  width: 70vw;
  margin: 0 auto;
  background: white;
  padding: 0 5vw;
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  margin-bottom: 100px;

  .show-image {
    margin-left: -5vw;
    border-radius: 8px;
    width: 70vw;
    height: 70vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;

    &:hover {
      -webkit-filter: brightness(70%);

      .btn-hidden {
        opacity: 1;
      }
    }
  }

  .show-info {
    margin-top: 2em;
    display: flex;
    width: 100%;
    padding-bottom: 2em;

    .painting-info {
      width: 48%;

      p  {
        padding: 14px 2.3vw 14px 0;
        text-align: justify;
      }

      .info-title {
        width: 90%;
        display: flex;
        justify-content: space-between;

        .painting-title {
        }


      }
      h2 {
          font-size: 1.5rem;
          border-bottom: 2px solid $new_art_color;
        }
    }

    .painting-user {
      width: 14%;
      margin: 0 auto;
      text-align: center;
      padding-right: 2vw;

      .owner-info {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
        p {
          padding-top: 5px;
        }
    }

    .booking-form {
      width: 38%;
      border: 1px $new_art_color solid;
      border-radius: 6px;
      padding: 1em;
      margin-bottom: 11vh;
      margin-left: 2vw;

      h2 {
          font-size: 1.5rem;
          border-bottom: 2px solid $new_art_color;
        }

      .booking-pricing {
        padding-bottom: .5em;
        border-bottom: 1px solid #DDD;
        text-align: center;
      }

      .form-inputs {
        padding-bottom: .5em;
        border-bottom: 1px solid #DDD;
      }

      .booking-calculation {
        display: flex;
        justify-content: space-between;
        padding-top: .5em;

        .fee {
          font-size: .8em;
          color: #777
        }
      }
    }
  }
}

.fa-star {
  color: gold;
}

h6 {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: "Open Sans", "Helvetica", "sans-serif";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  padding-bottom: 3vh;
}
