.show-view {
  width: 80vw;
  margin: 0 auto;
  background: white;
  padding: 0 5vw;

  .show-image {
    margin-left: -5vw;
    width: 80vw;
    height: 70vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;

    &:hover {
      -webkit-filter: brightness(70%);

      .btn-hidden {
        opacity: 1;
      }
    }
  }

  .show-info {
    margin-top: 2em;
    display: flex;
    width: 100%;
    padding-bottom: 2em;

    .painting-info {
      width: 70%;

      .info-title {
        width: 90%;
        display: flex;
        justify-content: space-between;

        .painting-title {
        }

        .owner-info {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }
    }

    .booking-form {
      width: 30%;
      border: 1px $main-green solid;
      border-radius: 6px;
      padding: 1em;

      .booking-pricing {
        padding-bottom: .5em;
        border-bottom: 1px solid #DDD;
      }

      .form-inputs {
        padding-bottom: .5em;
        border-bottom: 1px solid #DDD;
      }

      .booking-calculation {
        display: flex;
        justify-content: space-between;
        padding-top: .5em;

        .fee {
          font-size: .8em;
          color: #777
        }
      }
    }
  }
}
